include ../items-banner/items-banner.pug
include ../items-slide/items-slide.pug
include ../navigation/navigation.pug
include ../main-slider/main-slider.pug
include ../main-slider-bg/main-slider-bg
mixin header()
    header
        +items-banner
        +items-slide
        +navigation
        +main-slider
        +main-slider-bg