include ../items-banner/items-banner.pug
include ../items-slide/items-slide.pug
include ../navigation/navigation.pug
mixin header()
    header
        +items-banner
        +items-slide
        +navigation