.solutions {
    background-color: $wh;
    margin-top: r(99);
    margin-bottom: r(58.5);

    &__wrapper {
        @include row-flex();
    }

    &__item {
        @include col();
        @include size(3);
        background-color: $blu;
        padding: r(30) r(32);
        transition: background-color .2s linear;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow:hidden;


        &:hover {
            background-color: $yel;
            transition: background-color .2s linear;
            .solutions__title,
            .solutions__link {
                color: $blu;
                transition: color .2s linear;
            }
            .solutions__text {
                color: $bl;
                transition: color .2s linear;
            }
        }
        img {
            position: relative;
            left: r(-32);
            margin-top: r(20)
        }
    }

    h2 {
        text-align: left;

        font: {
            size: r(48);
            weight: 700;
        }
    }

    &__title {
        color: #FFD400;
        transition: color .2s linear;
        font: {
            weight: 700;
        }
    }

    &__text {
        color: $wh;
        transition: color .2s linear;
        font: {
            size: r(12);
            weight: 500;
        }
    }

    &__link {
        color: $wh;
        display: block;
        text-align: right;
        text-decoration: none;
        transition: color .2s linear;

        font: {
            size: r(16);
            weight: 700;
        }
    }
}