mixin solutions()
    .solutions
        .solutions__wrapper
            h2  Готовые решения
            .solutions__inner
                .solutions__item
                    .solutions__title-wrapper
                        p.solutions__title  Premium
                        p.solutions__text    Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. High resource machines.
                    .solutions__footer-wrapper
                        picture
                            source(srcset="img/solutions/1.webp" type="image/webp")
                            img(src="img/solutions/1.png", alt="car")
                        a.solutions__link(href="#") Подробнее
                .solutions__item
                    .solutions__title-wrapper
                        p.solutions__title  Electro
                        p.solutions__text    Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. 
                    .solutions__footer-wrapper
                        picture
                            source(srcset="img/solutions/2.webp" type="image/webp")
                            img(src="img/solutions/2.png", alt="car")
                        a.solutions__link(href="#") Подробнее
                .solutions__item
                    .solutions__title-wrapper
                        p.solutions__title  Standart
                        p.solutions__text    Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. High resource machines.
                    .solutions__footer-wrapper
                        picture
                            source(srcset="img/solutions/3.webp" type="image/webp")
                            img(src="img/solutions/3.png", alt="car")
                        a.solutions__link(href="#") Подробнее
                .solutions__item
                    .solutions__title-wrapper
                        p.solutions__title  Premium lux
                        p.solutions__text    Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. High resource machines.
                    .solutions__footer-wrapper
                        picture
                            source(srcset="img/solutions/4.webp" type="image/webp")
                            img(src="img/solutions/4.png", alt="car")
                        a.solutions__link(href="#") Подробнее
                