mixin solutions()
    .solutions
        .container
            h2  Готовые решения
            .solutions__wrapper
                .solutions__item
                    p.solutions__title  Premium
                    p.solutions__text    Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. High resource machines.
                    picture
                        source(srcset="img/solutions/1.png")
                        img(src="img/solutions/1.webp", alt="car")
                    a.solutions__link(href="#") Подробнее
                .solutions__item
                    p.solutions__title  Electro
                    p.solutions__text    Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. 
                    picture
                        source(srcset="img/solutions/2.png")
                        img(src="img/solutions/2.webp", alt="car")
                    a.solutions__link(href="#") Подробнее
                .solutions__item
                    p.solutions__title  Standart
                    p.solutions__text    Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. High resource machines.
                    picture
                        source(srcset="img/solutions/3.png")
                        img(src="img/solutions/3.webp", alt="car")
                    a.solutions__link(href="#") Подробнее
                .solutions__item
                    p.solutions__title  Premium lux
                    p.solutions__text    Set of tire equipment on the basis of durable machines of Italian production. Precise work with all types of wheels. High resource machines.
                    picture
                        source(srcset="img/solutions/4.png")
                        img(src="img/solutions/4.webp", alt="car")
                    a.solutions__link(href="#") Подробнее
                