mixin main-slider-bg()
    .main-slider-bg.swiper-container
        .swiper-wrapper
            .main-slider-bg__item.swiper-slide(style="background-image: url('img/main-slider-bg/master.jpg')")
            .main-slider-bg__item.swiper-slide(style="background-image: url('img/main-slider-bg/oil.jpg')")
            .main-slider-bg__item.swiper-slide(style="background-image: url('img/main-slider-bg/crash.jpg')")