mixin main-slider-bg()
    - const amountSlideBg = 3
    - const classes = "main-slider-bg__item swiper-slide"
    .main-slider-bg.swiper-container
        .swiper-wrapper
            - for(var i = 0; i < amountSlideBg; i += 1) {
                div(class=classes style="background-image: url('img/main-slider-bg/slide-image-" + i + ".webp')")
            - }