.copyright {
    font-weight: normal;
    font-size: r(12);
    background-color: #E6E7E8;
    padding: 1.025rem 0 r(10);
    color: #062945;
    &__wrapper {
        justify-content: space-between;
        @include row-flex();
    }
    &__year {
        @include col();
        @include size(3);
        text-align: left;
    }

    &__created {
        @include col();
        @include size(2);
        text-align: right;
    }
}