mixin copyright()
    section.copyright
        .container
            .copyright__wrapper
                .copyright__year    Copyright © automaster.uz 2019-2029
                .copyright__created Created by 360 creative agency