mixin copyright()
    section.copyright
        .container
            .copyright__wrapper
                .copyright__item.copyright__item_left    Copyright © automaster.uz 2019-2029
                .copyright__item.copyright__item_right    Created by 360 creative agency