mixin main-form()
    include ../contacts/contacts.pug
    include ../../components/label/label.pug
    section.main-form
        .main-form__wrapper.cube.cube_position_form
            .main-form__inner
                h2.main-form__header.h2-heading.h2-heading_yellow   Хотите связаться с нами?
                .main-form__content
                    .main-form__contacts-wrp
                        +contacts('icon-phone', 'Номер телефона', '99 777 55 66  —  71 256 55 66', 'main-form__contact')
                        +contacts('icon-form-mail', 'Email адрес', 'info@automaster.uz', 'main-form__contact')
                    form.main-form__form
                        +label(false, 'label-box_width_50', '', 'Ваше имя', '', 'text')
                        +label(false, 'label-box_width_50', '', 'Ваше имя', '', 'text')
                        +label(true, '', 'label_triangle', 'Ваше имя', '', 'text')
                        button.main-form__button.button.button_transparent
                            icon.main-form__button-icon.icon-form-send
                            |   Отправить сообщение