.main-form {
    padding: r(79) 0;
    margin-bottom: r(99);
    position: relative;
    margin: 0 r(15);
    @include sm(margin-left, 0);
    @include sm(margin-right, 0);

    .row {
        @include row-flex;
    }

    &__form {
        width: 54%;
        @include sm(width, 100%);
        display: flex;
        flex-wrap: wrap;
        @include xs(justify-content, center);
    }

    &__wrapper {
        @include container();
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background: $blu;
        padding-top: 4.9375rem;
        padding-bottom: 4.9375rem;
        @include sm(padding-top, r(44));
        @include sm(padding-bottom, r(44));
        position: relative;
    }

    &__inner {
        @include col();
        @include size(10);
        @include size-md(12);
        @include row-flex();
        background-color: $blu;
    }

    &__header {
        @include col-nm(12);
        margin-bottom: r(80);
    }

    &__contacts-wrp {
        width: 46%;
        @include sm(width, 100%);
    }

    &__content {
        display: flex;
        justify-content: center;
        @include col-nm(12);
        @include sm(flex-wrap, wrap);
    }

    &__contact {
        margin-bottom: r(67);
        @include sm(margin-bottom, r(20));
    }

    &__button {
        overflow: visible;
        position: relative;
        margin: 0 r(15);

        &-icon {
            position: absolute;
            top: 1.4375rem;
            left: r(-10);
            @include sm(left, -0.025rem);

            &:before {
                font-size: r(18);
                @include sm(font-size, 0.825rem)
            }
        }
    }
}