

mixin navigation()
    nav(role="navigation")
        .container
            .nav__inner
                .nav__list
                    ul
                        li
                            a(href="")  Решения
                        li
                            a(href="")  Портфолио
                        li.nav__list_active
                            a(href="")  О нас
                .nav__contacts
                    .nav__contacts-language
                        ul
                            li
                                a(href="")  O'ZB
                            li
                                a.nav__contacts-language_active(href="")  Рус
                            li
                                a(href="")  Eng
                    .nav__contacts-number
                        ul
                            li  998 71 276 64 98
                            li  Колл-центр