nav {
    padding-top: r(30);
    z-index: 1;

    .nav {
        &__inner {
            @include row-flex();
            justify-content: space-between;
        }

        &__list {
            @include col();
            @include size(3);
            @include size-lg(5);
            @include size-md(12);

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                @include md(padding, r(52.1) 0);
            }

            ul li {
                position: relative;
                font-size: r(12);
                @include md(font-size, 0.65rem);
                line-height: r(32);
                text-transform: uppercase;
                display: inline-block;
                list-style: none;
                @include md(display, inline-block);
                @include md(width, 100%);
                @include md(font-size, r(18));
                @include md(font-weight, 700);
                @include md(text-transform, uppercase);
                @include md(margin-bottom, r(24));

                a {
                    text-decoration: none;
                    color: $wh;
                }
            }

            &_active:before {
                content: '';
                display: inline-block;
                width: 80%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $yel;
                animation: border-width .3s linear;
            }
        }

        &__contacts {
            @include col();
            @include size(4);
            @include size-lg(6);
            @include size-md(12);
            display: flex;

            &-language {
                padding-right: r(34);
            }

            &-number {
                padding-left: r(34);
                border-left: 1px solid $wh;
            }

            &-language ul li {
                font-size: r(12);
                @include md(font-size, 0.65rem);
                line-height: r(32);
                text-transform: uppercase;
                display: inline-block;
                list-style: none;

                a {
                    text-decoration: none;
                    color: $wh;
                }

                .nav__contacts-language_active {
                    color: $yel;
                }
            }

            &-number ul {
                li:nth-child(1) {
                    font-size: r(20);
                    @include md(font-size, 0.75rem)
                }

                li:nth-child(2) {
                    font-size: r(12);
                    @include md(font-size, 0.75rem)
                }

                li {
                    color: $wh;
                    list-style: none;
                }
            }
        }
    }
}

@keyframes border-width {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}