extends layouts/default
include helpers/mixins
include ../blocks/modules/items-banner/items-banner.pug
include ../blocks/modules/items-slide/items-slide.pug
include ../blocks/modules/navigation/navigation.pug
include ../blocks/modules/main-slider/main-slider.pug
include ../blocks/modules/main-slider-bg/main-slider-bg
include ../blocks/modules/slider-controls/slider-controls
include ../blocks/modules/advantages/advantages
include ../blocks/modules/solutions/solutions
include ../blocks/modules/main-form/main-form
include ../blocks/modules/copyright/copyright

block variables
	- const title = "gulp-pug-starter"

block content
	.site-container 
		header.header
			+items-banner
			+items-slide(true)
			+meta-page
			+navigation
			+main-slider
			+main-slider-bg
			+slider-controls
		main
			+advantages
			+items-slide(false)
			+solutions
			+main-form
		footer
			+copyright


block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
