@import "items-banner/items-banner";
@import "items-slide/items-slide";
@import "meta-page/meta-page";
@import "navigation/navigation";
@import "main-slider/main-slider";
@import "main-slider-bg/main-slider-bg";
@import "slider-controls/slider-controls";
@import "advantages/advantages";
@import "solutions/solutions";
@import "main-form/main-form";
@import "copyright/copyright";
@import "broadcrumps/broadcrumps";
@import "products/products";
@import "select-form/select-form";

@keyframes widthDecorativeLine {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

@keyframes deleteLineRight {
    0% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}