mixin range-input()
    .range-input
        .range-input__title
            label.label.range-input__label.select-form__text_blue(data-title="Стоимость")
            .range-input__cost
                span.range-input__span  0
                span.range-input__span -
                span.range-input__span  50 000 000
        .range-input__wrp.select-form__border
            .range-input__line
            .range-input__button.range-input__button_left
            .range-input__button.range-input__button_right