mixin main-slider()
    section.main-slider
        .container
            .main-slider-title.swiper-container
                .main-slider__inner.swiper-wrapper
                    .main-slider__item.swiper-slide
                            .main-slider__item-inner
                                .main-slider__title
                                    h2  Новое поступление монтажных станков
                                    p   Автоматический ввод трех параметров,
                                        br
                                        |   LCD монитор, мультиоператор, aludata, 220В
                                    .main-slider__details
                                        a(href="#")   Подробнее
                                        span.square
                    .main-slider__item.swiper-slide
                            .main-slider__item-inner
                                .main-slider__title
                                    h2  Бесплатная замена масла в двигателе
                                    p   При покупки масла для двигателя, гарантированно, замену
                                        br
                                        |   произведем совершенно бесплатно!
                                    .main-slider__details
                                        a(href="#")   Подробнее
                                        span.square
                    .main-slider__item.swiper-slide
                            .main-slider__item-inner
                                .main-slider__title
                                    h2  Достойные цены за достойный ремонт!
                                    p   Цены на услуги значительно ниже цен
                                        br
                                        |   обслуживания при аналогичном высоком уровне сервиса.
                                    .main-slider__details
                                        a(href="#")   Подробнее
                                        span.square