mixin slider-controls()
    .slider-controls
        .container
            .swiper-container
                .swiper-wrapper
                    .slider-controls__item.swiper-slide
                        p.slider-controls__paragraph    Новые поступления
                        .slider-controls__decorative-line
                            span.slider-controls__decorative-span
                    .slider-controls__item.swiper-slide
                        p.slider-controls__paragraph    Бесплатная замена масла
                        .slider-controls__decorative-line
                            span.slider-controls__decorative-span
                    .slider-controls__item.swiper-slide
                        p.slider-controls__paragraph    Достойные цены
                        .slider-controls__decorative-line
                            span.slider-controls__decorative-span