mixin advantages()
    section.advantages
        .advantages__wrapper
            .advantages__inner
                .advantages__title
                    p.advantages__desc  Основа нашего подхода. Глубокое понимание технологи- ческих особенностей предлагаемых нами стендов и приборов
                    p.advantages__text  Мы понимаем, что лучший залог успеха нашей компании — это успех работы наших клиентов. Поэтому мы гаран- тируем, что результатом нашего коммерческого предложения будет не то оборудование, которое проще привезти и продать, а то, которое больше подходит именно под ваши задачи.
                .advantages__items
                    ul
                        li
                            span.icon-technolgy-repair
                            p   Опыт разработки  диагностического оборудования
                        li
                            span.icon-technolgy-building
                            p   Регулярное участие в технических конференциях
                        li
                            span.icon-technolgy-worker
                            p   Участие в обучении  и подготовке специалистов СТО
                        li
                            span.icon-technolgy-wheels
                            p   Опыт работы на дилерских и независимых СТО
                        li
                            span.icon-technolgy-car
                            p   Регулярные обучения  у производителей оборудования
                        li
                            span.icon-technolgy-repair
                            p   Опыт разработки  диагностического оборудования