include ../meta-page/meta-page.pug
mixin itemsSlideTitle()
     .items-slide__title
        h2 Продукция, которой мы вас радуем
        .items-slide__sign
            p.items-slide__sign-number 246
            p.items-slide__sign-text Позиций
                br
                span на данный момент в наших руках, для вашего использования
mixin notBoolean()
    +itemsSlideTitle
    .items-slide__features
        .items-slide__item
            .items-slide__image
                span.icon-menu-lift
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/1.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/1.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-speed
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/2.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/2.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-oil
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/3.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/3.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-cabel
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/4.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/4.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-spray
            .items-slide__desc
                span    Малярно-кузовное оборудование
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/5.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/5.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-tire
            .items-slide__desc
                span    Малярно-кузовное оборудование
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/6.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/6.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-pressure
            .items-slide__desc
                span    Оборудование для работы с электроникой
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/7.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/7.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-wrench
            .items-slide__desc
                span    Стенды сход-развал и инспекционные
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/8.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/8.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-blowtorch
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/9.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/9.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-jack
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/10.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/10.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-carcass
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/11.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/11.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-tire
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/12.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/12.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-lift
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/1.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/1.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-speed
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/2.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/2.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-oil
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/3.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/3.png", alt="icon")
        .items-slide__item
            .items-slide__image
                span.icon-menu-cabel
            .items-slide__desc
                span    Подъёмные оборудования
            .items-slide__offer
                p   Подъёмные оборудования
                span    23 позиции
                picture
                    source(srcset="img/items-slide/4.webp" type="image/webp")
                    img.items-slide__img(src="img/items-slide/4.png", alt="icon")
mixin isBoolean()
    +itemsSlideTitle
    .items-slide__slider
        .items-slide__features
            .items-slide__item
                .items-slide__image
                    span.icon-menu-lift
                .items-slide__desc
                    span    Подъёмные оборудования
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/1.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/1.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-menu-speed
                .items-slide__desc
                    span    Подъёмные оборудования
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/2.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/2.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-menu-oil
                .items-slide__desc
                    span    Подъёмные оборудования
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/3.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/3.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-menu-cabel
                .items-slide__desc
                    span    Подъёмные оборудования
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/4.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/4.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-spray
                .items-slide__desc
                    span    Малярно-кузовное оборудование
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/5.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/5.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-menu-tire
                .items-slide__desc
                    span    Малярно-кузовное оборудование
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/6.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/6.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-menu-pressure
                .items-slide__desc
                    span    Оборудование для работы с электроникой
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/7.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/7.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-menu-wrench
                .items-slide__desc
                    span    Стенды сход-развал и инспекционные
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/8.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/8.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-menu-blowtorch
                .items-slide__desc
                    span    Подъёмные оборудования
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/9.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/9.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-menu-jack
                .items-slide__desc
                    span    Подъёмные оборудования
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/10.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/10.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-menu-carcass
                .items-slide__desc
                    span    Подъёмные оборудования
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/11.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/11.png", alt="icon")
            .items-slide__item
                .items-slide__image
                    span.icon-menu-tire
                .items-slide__desc
                    span    Подъёмные оборудования
                .items-slide__offer
                    p   Подъёмные оборудования
                    span    23 позиции
                    picture
                        source(srcset="img/items-slide/12.webp" type="image/webp")
                        img.items-slide__img(src="img/items-slide/12.png", alt="icon")
mixin items-slide(boolean)
    - const maxItems = 12;
    div(class= boolean ? ' items-slide items-slide_fixed items-slide_hidden' : 'items-slide')
        div(class= boolean ? 'items-slide__wrapper items-slide__wrapper_scroll' : 'items-slide__wrapper')
            if boolean
                +notBoolean
            else
                +isBoolean