.items-slide {
    z-index: 7;
    background-color: $blu;
    transition: all .5s ease-out;
    transform: translateX(0);

    padding: {
        top: 2.5rem;
        bottom: 1rem;
    }

    @include sm(padding-bottom, 0);
    @include sm(padding-bottom, 1.8875rem);
    @include sm(padding-top, 1.8875rem);

    overflow: hidden;

    display: flex;
    @include lg(display, block);
    justify-content: center;


    &__wrapper {
        &_scroll {
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 100vh;
            margin: 0 r(30) 0 r(15);
            @include sm(margin, 0 r(15) 0 r(15));
            padding-right: 10px;
            @include sm(padding-right, 0);  

            &::-webkit-scrollbar {
                width: 8px;
                @include sm(width, 0);
            }

            &::-webkit-scrollbar-track {
                background: rgba($wh, .2);
                border-radius: r(4);
            }

            &::-webkit-scrollbar-thumb {
                background: rgba($wh, .5);
                border-radius: r(4);
            }

            &::-webkit-scrollbar-thumb:hover {
                background: rgba($wh, .7);
            }
        }
    }

    &__inner {
        @include row-flex();
    }

    &__features {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: r(20);
        @include sm(display, flex);
        @include sm(justify-content, center);
        @include sm(align-items, center);
        height: auto;
        @include lg(height, r(500));
        @include sm(height, r(300));
        @include xs(height, r(250));

    }

    &__item {
        @include col-nm(3);
        @include col-nm-lg(6);
        @include col-nm-sm(12);
        border-bottom: 1px solid rgba($wh, .2);
        text-align: left;
        padding: r(35);
        padding-right: 4.2875rem;
        @include lg(padding, 1.6875rem);
        @include sm(padding-right, 0.5rem);
        @include sm(padding-left, 0.5rem);
        cursor: pointer;
        position: relative;
        @include sm(display, flex);
        @include sm(justify-content, center);
        @include sm(align-items, center);
        @include lg(height, 33.3333%);
    }

    &__item:nth-last-child(-n+4) {
        border-bottom: none;
        @include lg(border-bottom, 1px solid rgba($wh, .1));
    }

    &__item:nth-last-child(-n+4) {
        @include lg(border-bottom, none);
        @include sm(border-bottom, 1px solid rgba($wh, .1));
    }
    &__item:nth-last-child(n+3) {
        @include lg(border-bottom, 1px solid rgba($wh, .1));
        @include sm(border-bottom, none);
    }
    &__item:nth-last-child(n+1) {
        @include sm(border-bottom, 1px solid rgba($wh, .1));
    }

    &__item:nth-last-child(-n+1) {
        @include sm(border-bottom, none)
    }

    &__item:not(:nth-child(4n)) {
        border-right: 1px solid rgba($wh, .1);
        @include lg(border-right, none);
    }
    &__item:not(:nth-child(2n)) {
        @include lg(border-right, 1px solid rgba($wh, .1));
        @include sm(border-right, 0);
    }

    &__desc {
        @include col-nm-sm(9);
        @include sm(display, flex);
        @include sm(justify-content, flex-start);
        @include sm(align-items, center);
        @include sm(padding-left, 15px);

        span {
            font: {
                weight: 600;
                size: 1.05rem;
            }

            @include xl(font-size, 0.95rem);
            @include sm(font-size, r(16));
            @include sm(font-weight, 400);

            color: #FAFAFA;
        }
    }

    &__item:hover>&__offer {
        visibility: visible;
        opacity: 1;
        transition: all .4s ease-in;
    }

    &__item:hover>&__offer .items-slide__img {
        top: 8.25rem;
        @include lg(top, 4rem);
        @include sm(top, 1.3rem);
        transition: top .4s ease-out;
    }

    &__item:hover>&__offer p {
        transform: translate3d(0, 0, 0);
        transition: transform .4s ease-out;
    }

    &__item:hover>&__offer span {
        transform: translate3d(0, 0, 0);
        transition: transform .4s ease-out;
    }

    &__item:hover>&__offer:before {
        content: "";
        bottom: r(-18);
        transition: bottom .4s ease-out;
        transition-delay: .4s;
    }

    &__offer {
        visibility: hidden;
        width: 100%;
        height: 100%;
        background-color: $yel;
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: r(33);
        @include lg(padding, 1.6875rem);
        @include sm(padding, 0.9875rem 0.5875rem);
        transition: all .4s ease-out;

        &:before {
            bottom: r(0);
            left: 10%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            transition: bottom .4s ease-in;
            transition-delay: 2s;
        }

        &:before {
            border-color: transparent;
            border-top-color: $yel;
            border-width: 9px;
            pointer-events: none;
        }

        p {
            font-weight: 600;
            font-size: r(19);
            color: #005AAB;
            line-height: r(32);
            transform: translate3d(r(-70), 0, 0);
            transition: transform .4s linear;
            pointer-events: none;
        }

        span {
            font-size: r(17);
            line-height: r(24);
            color: $wh;
            display: inline-block;
            transform: translate3d(r(-70), 0, 0);
            transition: transform .4s linear;
            pointer-events: none;
        }

        .items-slide__img {
            z-index: 1;
            position: absolute;
            top: 9.25rem;
            @include xl(top, 11.25rem);
            @include lg(top, 8.25rem);
            right: r(10);
            @include xl(right, -2.375rem);
            @include lg(right, 0.625rem);
            @include md(right, 0.125rem);
            @include sm(right, 1rem);
            @include md(max-width, 40%);
            @include xl(max-width, 70%);
            @include sm(max-width, 25%);
            transition: top .4s linear;
            pointer-events: none;
        }
    }

    &__offer:hover {
        &:before {
            top: 100%;
            transition: top .4s ease-out;
        }
    }

    &__image {
        margin-bottom: 0.5875rem;
        @include xl(margin-bottom, 0.6875rem);
        @include col-nm-sm(3);
        @include sm(margin-bottom, 0);
        @include sm(display, flex);
        @include sm(align-items, center);

        span {
            &::before {
                font-size: r(52);
                @include xs(font-size, 2.45rem);
            }
        }
    }

    &__title {
        @include col-nm(12);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: r(104);
        @include md(display, flex);
        @include md(flex-wrap, wrap);
        @include md(margin-bottom, r(37));

        h2 {
            @include col();
            @include size(5);
            font-size: 2.9rem;
            color: $wh;
            line-height: r(56);
            @include col-nm-md(12);
            @include md(margin-bottom, r(30));
            @include md(font-size, 2.8rem);
            @include xs(font-size, 2rem);
            @include xs(line-height, 40px);
        }
    }

    &__sign {
        @include col();
        @include size(6);
        color: $yel;
        display: flex;
        align-items: center;
        @include xl(flex-direction, column);
        @include xl(align-items, flex-start);
        @include col-nm-md(12);
        @include md(flex-direction, row);
        @include md(align-items, center);

        &-number {
            font-size: r(96);
            color: $yel;
            line-height: 0.8;
            text-align: left;
            font-weight: 900;
            @include col-nm(5);
            @include xl(margin-bottom, r(15));
            @include md(margin-bottom, 0);
            @include col-nm-xl(12);
            @include col-nm-md(5);
            @include md(font-size, 4.83844rem);
            @include sm(font-size, 2.73844rem);
            @include xs(font-size, r(45.4151));
            @include xs(line-height, r(54));
        }

        &-text {
            font-size: r(24);
            color: $yel;
            line-height: 1rem;
            @include md(line-height, 2rem);
            @include col-nm(7);
            @include col-nm-xl(12);
            @include col-nm-md(7);
            @include md(font-size, 2rem);
            @include md(font-weight, 700);
            @include xs(font-size, r(12));
            @include xs(line-height, r(16));
            @include sm(font-size, 1.7rem);

            span {
                max-width: 255px;
                font-size: r(16);
                @include xs(font-size, r(8));
                width: 100%;
                color: inherit;
                line-height: 1.25rem;
                margin-top: r(15);
                @include md(margin-top, r(5));
                display: inline-block;
                @include md(font-weight, 400);
                @include md(font-size, 1rem);
                @include sm(font-size, 0.8rem);
                @include xs(font-size, r(8));
                @include xs(line-height, r(10));
            }
        }
    }
}

.items-slide_visible {
    transition: transform .5s ease-in;
    transition-delay: .1s;
    transform: translateX(-100%);
}

.items-slide_fixed {
    position: fixed;
    width: calc(100% - 5rem);
    @include md(width, calc(100% - 3.75rem));
    @include xs(width, calc(100% - 2.5rem));
    height: 100%;
}


.no-cssscrollbar .items-slide__wrapper {
    scrollbar-face-color: #E6E7E8;
    scrollbar-arrow-color: rgba($wh, 0);
    scrollbar-track-color: #FAFAFA;
}

.items-slider {
    overflow: hidden !important;
    padding-bottom: r(40);
}


.swiper-pagination {
    &__width {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: r(25);
    }

    &__line {
        width: r(43);
        height: r(3);
        background-color: rgba($wh, .5);
        display: inline-block;
        margin: 0 r(8);
    }

    &-bullet-active {
        background-color: $yel;
    }
}