.items-slide {
    z-index: 2;
    background-color: $blu;
    transition: all .5s ease-out;
    transform: translateX(0);

    padding: {
        top: r(136);
        bottom: 2.5rem;
    }

    overflow: hidden;

    display: flex;
    justify-content: center;

    &__wrapper.items-slide__wrapper_scroll {
        width: 86%;
        height: 100%;
        overflow-y: scroll;
        max-height: 100vh;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: rgba($wh, .2);
            border-radius: r(4);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba($wh, .5);
            border-radius: r(4);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba($wh, .7);
        }
    }

    &__features {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: r(20);

    }

    &__item {
        @include col-nm(3);
        border-bottom: 1px solid rgba($wh, .2);
        text-align: left;
        padding: r(35);
        padding-right: 4.2875rem;
        cursor: pointer;
        position: relative;
    }

    &__item:nth-last-child(-n+4) {
        border-bottom: none;
    }

    &__desc {
        span {
            font: {
                weight: 600;
                size: 1.05rem;
            }

            color: #FAFAFA;
        }
    }

    &__item:hover>&__offer {
        visibility: visible;
        opacity: 1;
        transition: all .4s ease-in;
    }

    &__item:hover>&__offer picture {
        top: 6.25rem;
        transition: top .4s ease-out;
    }

    &__item:hover>&__offer p {
        transform: translate3d(0, 0, 0);
        transition: transform .4s ease-out;
    }

    &__item:hover>&__offer span {
        transform: translate3d(0, 0, 0);
        transition: transform .4s ease-out;
    }

    &__offer {
        visibility: hidden;
        width: 100%;
        height: 100%;
        background-color: $yel;
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: r(33);
        transition: all .4s ease-out;

        &:before {
            top: 90%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            transition: top .4s ease-in;
        }

        &:before {
            border-color: transparent;
            border-top-color: $yel;
            border-width: 9px;
            margin-left: -136px;
            pointer-events: none;
        }

        p {
            font-weight: 600;
            font-size: r(19);
            color: #005AAB;
            line-height: r(32);
            transform: translate3d(r(-70), 0, 0);
            transition: transform .4s linear;
            pointer-events: none;
        }

        span {
            font-size: r(17);
            line-height: r(24);
            color: $wh;
            display: inline-block;
            transform: translate3d(r(-70), 0, 0);
            transition: transform .4s linear;
            pointer-events: none;
        }

        picture {
            position: absolute;
            top: 9.25rem;
            right: r(10);
            transition: top .4s linear;
            pointer-events: none;
        }
    }

    &__offer:hover {
        &:before {
            top: 100%;
            transition: top .4s ease-out;
        }
    }

    &__image {
        margin-bottom: r(35);

        span {
            &::before {
                font-size: r(52);
            }
        }
    }

    &__item:not(:nth-child(4n)) {
        border-right: 1px solid rgba($wh, .2);
    }

    &__title {
        @include col-nm(12);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: r(104);

        h2 {
            @include col();
            @include size(5);
            font-size: 2.9rem;
            color: $wh;
            line-height: r(56);
        }
    }

    &__sign {
        @include col();
        @include size(5);
        color: $yel;
        display: flex;
        align-items: center;

        p:nth-child(1) {
            font-size: r(96);
            color: $yel;
            line-height: 0.8;
            text-align: left;
            font-weight: 900;
            @include col-nm(5);
        }

        p:nth-child(2) {
            font-size: r(24);
            color: $yel;
            line-height: 1rem;
            @include col-nm(7);

            span {
                font-size: r(16);
                width: 100%;
                color: inherit;
                line-height: 1.25rem;
                margin-top: 15px;
                display: inline-block;
            }
        }
    }
}

.items-slide_visible {
    transition: transform .5s ease-in;
    transition-delay: .1s;
    transform: translateX(-100%);
}

.items-slide_fixed {
    position: fixed;
    width: 100%;
    height: 100%;
}


.no-cssscrollbar .items-slide__wrapper {
    scrollbar-face-color: #E6E7E8;
    scrollbar-arrow-color: rgba($wh, 0);
    scrollbar-track-color: #FAFAFA;
}