.items-banner {
    width: r(80);
    @include md(width, r(60));
    @include xs(width, r(40));
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: $blu;
    transition: all .3s linear;
    padding: r(16) r(11);
    @include md(padding, 0.7rem 0.4875rem);
    @include xs(padding, 0.7rem 0.5875rem);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;

    &:hover {
        background-color: $yel;
        transition: all .3s linear;
    }

    .icon-mini-logo span:before {
        font-size: r(65);
        @include md(font-size, 3.0625rem);
        @include xs(font-size, 1.5625rem);
    }

    .icon-mini-logo {
        position: absolute;
        top: r(13);
    }

    &:hover .icon-mini-logo span:before {
        color: $yel;
        transition: all .5s linear;
    }

    &:hover .icon-mini-logo .path1:before {
        color: $blu;
        transition: all .5s linear;
    }

    .icon-mini-logo span:before {
        transition: all .5s linear;
    }

    &:hover {
        .icon-catalog {
            &:before {
                color: $blu;
                transition: all .5s linear;
            }
        }
    }

    .icon-catalog {
        &:before {
            font-size: r(26);
            transition: all .5s linear;
            @include md(font-size, r(18));
        }

        margin-right: r(10);
        position: relative;
        top: r(4);
    }

    &__paragraph {
        color: $wh;
        font-weight: 500;
        transition: all .5s linear;
        @include md(font-size, r(16));
        @include xs(font-size, r(12));
    }

    &:hover &__paragraph {
        color: $blu;
        transition: all .5s linear;
    }

    &__tittle {
        transform: rotate(-90deg);
        white-space: nowrap;
        margin: 0 r(-28) 0 r(-40);
        position: relative;
        @include md(display, flex);
        @include md(justify-content, center);
        @include md(align-items, center);
    }

    &:after {
        content: '';
        width: r(24);
        height: r(24);
        @include xs(width, 1.2rem);
        @include xs(height, 1.2rem);
        position: absolute;
        bottom: 2rem;
        background-color: $blu;
        transform: rotate(45deg);
        right: -1.9rem;
        animation: square-right .5s ease-in-out;
        transition: .5s ease-in-out;
    }
}

.items-banner.items-banner_hover:after {
    right: r(-12);
}

.items-banner_hover {
    overflow-x: hidden;

    & {
        background-color: $yel;
        transition: all .3s linear;
    }

    .icon-mini-logo span:before,
    .icon-mini-logo span:before {
        color: $yel;
        transition: all .5s linear;
    }

    .icon-mini-logo .path1:before,
    .icon-mini-logo .path1:before {
        color: $blu;
        transition: all .5s linear;
    }

    .icon-mini-logo span:before {
        transition: all .5s linear;
    }

    & {
        .icon-catalog {
            &:before {
                color: $blu;
                transition: all .5s linear;
            }
        }
    }

    .items-banner__paragraph {
        color: $blu;
        transition: all .5s linear;
    }
}

@keyframes square-right {
    0% {
        right: r(-24);
    }

    100% {
        right: r(-12);
    }
}