.items-banner {
    width: r(80);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: $blu;
    transition: all .3s linear;
    padding: r(16) r(11);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;

    &:hover {
        background-color: $yel;
        transition: all .3s linear;
    }

    .icon-mini-logo span:before {
        font-size: r(65);
    }

    .icon-mini-logo {
        position: absolute;
        top: r(13);
    }

    &:hover .icon-mini-logo span:before {
        color: $yel;
        transition: all .5s linear;
    }

    &:hover .icon-mini-logo .path1:before {
        color: $blu;
        transition: all .5s linear;
    }

    .icon-mini-logo span:before {
        transition: all .5s linear;
    }

    &:hover {
        .icon-catalog {
            &:before {
                color: $blu;
                transition: all .5s linear;
            }
        }
    }

    .icon-catalog {
        &:before {
            font-size: r(26);
            transition: all .5s linear;
        }

        margin-right: r(10);
        position: relative;
        top: r(4);
    }

    &__paragraph {
        color: $wh;
        font-weight: 500;
        transition: all .5s linear;
    }

    &:hover &__paragraph {
        color: $blu;
        transition: all .5s linear;
    }

    &__tittle {
        transform: rotate(-90deg);
        white-space: nowrap;
        margin: 0 r(-28) 0 r(-40);
        position: relative;
    }

    &:after {
        content: '';
        width: r(24);
        height: r(24);
        position: absolute;
        bottom: 2rem;
        background-color: $blu;
        transform: rotate(45deg);
        right: -1.9rem;
        animation: square-right .5s ease-in-out;
        transition: .5s ease-in-out;
    }
}

.items-banner.items-banner_hover:after {
    right: r(-12);
}

.items-banner_hover {
    overflow-x: hidden;

    & {
        background-color: $yel;
        transition: all .3s linear;
    }

    .icon-mini-logo span:before,
    .icon-mini-logo span:before {
        color: $yel;
        transition: all .5s linear;
    }

    .icon-mini-logo .path1:before,
    .icon-mini-logo .path1:before {
        color: $blu;
        transition: all .5s linear;
    }

    .icon-mini-logo span:before {
        transition: all .5s linear;
    }

    & {
        .icon-catalog {
            &:before {
                color: $blu;
                transition: all .5s linear;
            }
        }
    }

    .items-banner__paragraph {
        color: $blu;
        transition: all .5s linear;
    }
}

@keyframes square-right {
    0% {
        right: r(-24);
    }

    100% {
        right: r(-12);
    }
}