mixin items-banner()
    .items-banner.decorate__square.decorate__square_position_banner
        span.icon-mini-logo
            span.path1
            span.path2
            span.path3
            span.path4
            span.path5
            span.path6
            span.path7
            span.path8
            span.path9
            span.path10
            span.path11
            span.path12
            span.path13
            span.path14
        .items-banner__tittle
            p.items-banner__paragraph
                span.icon-catalog
                |   Каталог товаров
                