mixin meta-page()
    section.meta-page
        .container
            .meta-page__wrapper
                .meta-page__title
                    a(href="#")
                        span.icon-arrow
                        |   Вернуться к каталогу
                    h2  Шиномонтажное оборудование
                    p   Шиномонтажные станки подразделяются на два типа: полуавтоматические и автоматические агрегаты. Основным отличием между ними является регулировка фиксирующей лапы.На автомате она перемещается посредством нажатия на педаль, активирующую пневматический цилиндр. На полуавтомате управление зажимным приспособлением осуществляется вручную.
                .meta-page__links
                    ul
                        li
                            a(href="#") Легковые балансировочные станки
                        li
                            a(href="#")  Легковые шиномонтажные станки
                        li
                            a(href="#")  Мойка колес для шиномонтажа
                        li
                            a(href="#")  Стенды для накачки азотом