@font-face {
	font-family: "Gilroy";
	src:url(../../font/Gilroy-Black.ttf) format("ttf");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src:url(../../font/Gilroy-ExtraBold.ttf) format("ttf");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src:url(../../font/Gilroy-Bold.ttf) format("ttf");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src:url(../../font/Gilroy-Heavy.ttf) format("ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src:url(../../font/Gilroy-SemiBold.ttf) format("ttf"); 
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src:url(../../font/Gilroy-Medium.ttf) format("ttf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src:url(../../font/Gilroy-Regular.ttf) format("ttf");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src:url(../../font/Gilroy-Thin.ttf) format("ttf");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?77zrfb');
	src:  url('../fonts/icomoon.eot?77zrfb#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?77zrfb') format('truetype'),
	  url('../fonts/icomoon.woff?77zrfb') format('woff'),
	  url('../fonts/icomoon.svg?77zrfb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }